.client-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border: 3px solid red; */

  padding: 0 50px;
}

.tab-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  margin: 5px 0;
}

.client-container .tab-bar h1 {
  padding: 0;
}

.client-container .tab-bar .group-tabs {
  display: flex;
  flex-direction: row;

  width: 50%;
}

.client-container .tab-bar .group-tabs a {
  text-decoration: none;
}
.client-container .tab-bar .group-tabs button {
  height: 30px;

  line-height: 30px;
  font-size: 14px;
  color: #000000;

  border-radius: 0px;

  padding: 0px 5px 0px 5px;
}

.client-container .tab-bar .group-tabs button:hover {
  color: #0f4c82;

  border-radius: 5px 5px 0px 0px !important;
  border-top: 2px solid #0f4c82;
  border-left: 2px solid #0f4c82;
  border-right: 2px solid #0f4c82;
  filter: unset;

  margin: 0;
}

.client-container .tab-bar .group-tabs button.add:hover {
  color: #0f4c82;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #0f4c82;

  filter: unset;

  margin: 0;
}

.client-container .tab-bar .group-tabs button.tab-active {
  color: #0f4c82;

  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px !important;
  border-top: 2px solid #0f4c82;
  border-left: 2px solid #0f4c82;
  border-right: 2px solid #0f4c82;
  filter: unset;

  margin: 0;
}

.client-container section.form {
  width: 100%;
  height: 78vh;
  overflow: auto;

  background: #ffffff;

  border-radius: 9px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.client-container section.form form {
  width: 100%;
  height: 100%;
  padding: 20px 60px;

  display: flex;
  flex-direction: column;
}

.client-container section.form h1 {
  display: inline-flex;

  padding: 0;
}

.client-container section.form form .form-title {
  display: inline-flex;

  justify-content: center;

  padding-bottom: 20px;
}

.client-container section.form form .form-title h1 {
  padding-left: 5px;
}

.client-container section.form form input {
  border: 0;
  padding: 0px 10px;
}

.client-container section.form form input:hover {
  border: 2px solid #0f4c82;
}

.client-container section.form form input:focus {
  border: 2px solid #0f4c82;
}

.client-container section.form form .input-group-person {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.client-container section.form form .input-group-person + .input-group-person {
  margin-top: 25px;
}

.client-container section.form form .input-group-person h1 {
  padding-bottom: 10px;
}

.client-container section.form form .input-group-person label {
  padding-bottom: 5px;
}

.client-container section.form form .input-label-group-row {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.client-container section.form form .input-label-group-row input#companyName {
  text-transform: uppercase;
}

.client-container section.form form .input-label-group-row input#nameFantasy {
  text-transform: uppercase;
}

.client-container section.form form .input-label-group-row input#neighborhood {
  text-transform: uppercase;
}

.client-container section.form form .input-label-group-row input#street {
  text-transform: uppercase;
}

.client-container section.form form .input-label-group-row input#complement {
  text-transform: uppercase;
}

.client-container
  section.form
  form
  .input-label-group-row
  + .input-label-group-row {
  margin-top: 10px;
}

.client-container section.form form .input-label-block-column {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.client-container
  section.form
  form
  .input-label-block-column
  + .input-label-block-column {
  margin-left: 10px;
}

.client-container section.form form #input-label-block-column-cod {
  width: 42.5%;
}

.client-container section.form form #input-label-block-column-name {
  width: 90%;
}

.client-container section.form form #input-label-block-column-cpf-rg {
  width: 27%;
}

.client-container section.form form #input-label-block-column-phone {
  width: 27%;
}

.client-container section.form form #input-label-block-column-neighborhood {
  width: 77%;
}

.client-container section.form form #input-label-block-column-street {
  width: 140%;
}

.client-container section.form form #input-label-block-column-street-number {
  width: 28%;
}

.client-container section.form form #input-label-block-column-complement {
  width: 63%;
}

.client-container section.form form .input-button-block-row {
  display: flex;
  flex-direction: row;
}

.client-container section.form form .input-button-block-row button {
  height: 35px;
  width: 50px !important;

  margin: 0px 0px 0px 10px;
}

.client-container
  section.form
  form
  .input-button-block-row
  button#btnNeighborhood {
  width: 45.6px !important;
}

.client-container .input-group-person .input-label-group-row .checkbox-block {
  display: inline-flex;

  align-items: center;
  cursor: pointer;
}

.client-container
  .input-group-person
  .input-label-group-row
  .checkbox-block
  + .checkbox-block {
  margin-left: 10px;
}

.client-container
  .input-group-person
  .input-label-group-row
  .checkbox-block
  label {
  cursor: pointer;
  padding: 0px 0px 0px 5px;
}

.client-container
  .input-group-person
  .input-label-group-row
  .checkbox-block
  input {
  cursor: pointer;
  height: 19px;
  width: 19px;
}
