.os-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border: 3px solid red; */

  padding: 0 50px;
}

.tab-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  /* border: 3px solid yellow; */

  margin: 5px 0;
}

.os-container .tab-bar h1 {
  padding: 0;
}

.os-container .tab-bar .group-tabs {
  display: flex;
  flex-direction: row;

  width: 50%;

  /* border: 3px solid gray; */
}

.os-container .tab-bar .group-tabs a {
  text-decoration: none;
}
.os-container .tab-bar .group-tabs button {
  height: 30px;

  line-height: 30px;
  font-size: 14px;
  color: #000000;

  border-radius: 0px;

  /* background: #ffffff !important; */

  margin: 0;
}

.os-container .tab-bar .group-tabs button:hover {
  color: #0f4c82;

  border-radius: 5px 5px 0px 0px !important;
  border-top: 2px solid #0f4c82;
  border-left: 2px solid #0f4c82;
  border-right: 2px solid #0f4c82;
  filter: unset;

  /* background: #ffffff !important; */

  margin: 0;
}

.os-container .tab-bar .group-tabs button.tab-active {
  color: #0f4c82;

  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px !important;
  border-top: 2px solid #0f4c82;
  border-left: 2px solid #0f4c82;
  border-right: 2px solid #0f4c82;
  filter: unset;

  /* background: #ffffff !important; */

  margin: 0;
}
