body {
  background: #ffffff;
}

.remember-container {
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.remember-container img {
  width: 100%;
  max-width: 550px;
}
.remember-container section.form {
  width: 100%;
  max-width: 480px;

  margin-left: 100px;

  height: 100%;
  max-height: 490px;

  background: #e6e6e6;

  border-radius: 9px;

  display: flex;

  align-items: center;
  justify-content: center;
}

.remember-container section.form form {
  width: 100%;
  padding: 60px;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.remember-container section.form form h1 {
  font-size: 30px;
  font-weight: 700;

  margin-bottom: 60px;
  color: #3f3d56;
}

form .input-group {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background: #ffffff;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 25px;

  margin-bottom: 15px;
}

form .input-group:hover {
  border: 2px solid #0f4c82;
}

form .input-group:focus-within {
  border: 2px solid #0f4c82;
}

form .input-group:focus-within svg {
  color: #0f4c82 !important;
}

form .input-group input {
  width: 100%;
  height: 53px;
  color: #3f3d56;
  background: #ffffff;
  border: 0;
  border-radius: none;
  padding: 0 15px;
  margin-top: 6px;
}

form .button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 10px;
}
form .button {
  background: #0f4c82;
  margin-top: 10px;
}
