body {
  background: #ffffff;
}

.logon-container {
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logon-container img {
  width: 100%;
  max-width: 550px;
}
.logon-container section.form {
  width: 100%;
  max-width: 480px;

  margin-left: 100px;

  height: 100%;
  max-height: 490px;

  background: #e6e6e6;

  border-radius: 9px;

  display: flex;

  align-items: center;
  justify-content: center;
}

.logon-container section.form form {
  width: 100%;
  padding: 60px;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.logon-container section.form form h1 {
  font-size: 28px;
  font-weight: 700;

  margin-bottom: 60px;
  color: #3f3d56;
}

form .input-group {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  background: #ffffff;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 25px;

  margin-bottom: 15px;
}

form .input-group:hover {
  border: 2px solid #0f4c82;
}

form .input-group:focus-within {
  border: 2px solid #0f4c82;
}

form .input-group:focus-within svg {
  color: #0f4c82 !important;
}

form .input-group input {
  width: 100%;
  height: 53px;
  color: #3f3d56;
  background: #ffffff;
  border: 0;
  border-radius: none;
  padding: 0 15;
  margin: 0 !important;
}

form a {
  font: 500 18px Roboto, sans-serif;
  text-decoration: none;
  text-align: left;

  color: #3f3d56;

  margin-bottom: 15px;

  transition: color 0.2s;
}

form a:hover {
  color: #0f4c82;
}

form .button {
  background: #0f4c82;
}

.eye {
  cursor: pointer;
  height: 100%;
}
