.os-request-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* border: 3px solid red; */

  padding: 0 50px;
}

.tab-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;

  /* border: 3px solid yellow; */

  margin: 5px 0;
}

.os-request-container .tab-bar h1 {
  padding: 0;
}

.os-request-container .tab-bar .group-tabs {
  display: flex;
  flex-direction: row;

  width: 50%;
}

.os-request-container .tab-bar .group-tabs a {
  text-decoration: none;
}
.os-request-container .tab-bar .group-tabs button {
  height: 30px;

  line-height: 30px;
  font-size: 14px;
  color: #000000;

  border-radius: 0px;

  /* background: #ffffff !important; */

  /* margin: 0; */
  padding: 0px 5px 0px 5px;
}

.os-request-container .tab-bar .group-tabs button:hover {
  color: #0f4c82;

  border-radius: 5px 5px 0px 0px !important;
  border-top: 2px solid #0f4c82;
  border-left: 2px solid #0f4c82;
  border-right: 2px solid #0f4c82;
  filter: unset;

  /* background: #ffffff !important; */

  margin: 0;
}

.os-request-container .tab-bar .group-tabs button.tab-active {
  color: #0f4c82;

  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px !important;
  border-top: 2px solid #0f4c82;
  border-left: 2px solid #0f4c82;
  border-right: 2px solid #0f4c82;
  filter: unset;

  /* background: #ffffff !important; */

  margin: 0;
}

.os-request-container section.form {
  width: 100%;
  height: 78vh;
  overflow: auto;

  background: #ffffff;

  border-radius: 9px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.os-request-container section.form form {
  width: 100%;
  height: 100%;
  padding: 20px 60px;

  display: flex;
  flex-direction: column;
}

:single-button .os-request-container section.form h1 {
  display: inline-flex;

  /* justify-content: center; */
  padding: 0;
}

.os-request-container section.form form .form-title {
  display: inline-flex;

  justify-content: center;

  padding-bottom: 20px;
}

.os-request-container section.form form .form-title h1 {
  padding-left: 5px;
}

.os-request-container section.form form input {
  border: 0;
  padding: 0px 10px;
}

.os-request-container section.form form input:hover {
  border: 2px solid #0f4c82;
}

.os-request-container section.form form input:focus {
  border: 2px solid #0f4c82;
}

.os-request-container section.form form .input-group-client {
  width: 100%;

  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.os-request-container section.form form .input-group-client h1 {
  padding-bottom: 10px;
}

.os-request-container section.form form .input-group-client .input-block {
  width: 100%;

  display: flex;
  flex-direction: row;
  padding-bottom: 0px;
}

.os-request-container section.form form .input-group-client .input-block input {
  margin-right: 10px;
}

.street-number-block {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
}

.street-number-block .input-block {
  padding-top: 0px !important;
}

.street-number-block .input-block + .input-block {
  width: 125px;
}

.street-number-block > :first-child {
  padding-right: 10px;
}

.os-request-container
  section.form
  form
  .input-group-client
  .input-block
  button {
  height: 35px;
  width: 40px;
  padding: 0px;
  margin: 0;
}

form .input-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form .input-block + .input-block {
  padding-top: 10px;
}

.os-request-container section.form form .group-address {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.os-request-container
  section.form
  form
  .group-address
  #input-group-address-origin {
  padding-right: 20px;
}

.os-request-container
  section.form
  form
  .group-address
  #input-group-address-destiny {
  padding-left: 20px;
}

.os-request-container section.form form .group-address .input-group-address {
  width: 50%;

  display: flex;
  flex-direction: column;
}

.os-request-container .label-address {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}

.os-request-container .address-title {
  display: inline-flex;

  align-items: center;
}

.os-request-container .checkbox-block {
  display: inline-flex;

  align-items: center;
  cursor: pointer;
}

.os-request-container .checkbox-block label {
  cursor: pointer;
}

.os-request-container .checkbox-block input {
  cursor: pointer;
}

.os-request-container .label-address input {
  height: 19px;
  width: 19px;
}

.os-request-container .input-block label {
  padding-bottom: 5px;
}

.os-request-container .label-address label {
  padding-left: 5px;
}

.os-request-container .button-group {
  display: flex;
  flex-direction: row;

  justify-content: flex-end !important;

  padding-top: 50px;
}

.os-request-container .button-group button {
  height: 45px;
  width: 150px;
}

.os-request-container .neighborhood-block {
  display: flex;

  flex-direction: row;

  align-items: center;
}

.os-request-container .neighborhood-block input {
  margin-right: 10px;
}

.os-request-container .neighborhood-block button {
  height: 35px;
  width: 40px;

  margin: 0px;
}
