@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}
::-webkit-scrollbar {
  width: 6px;
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px Roboto, sans-serif;
  background: #efefef !important;
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: 400 18px Roboto, sans-serif;
}

label {
  color: #828282;
  font-size: 16px;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
  height: 35px;
  color: #3f3d56;
  background: #efefef;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 0 24px;
}

input[type="date"] {
  height: 35px;

  width: 100%;

  color: #3f3d56;

  background: #efefef;

  border: #efefef;
  border-radius: 4px;

  padding-left: 6px;

  cursor: text;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  padding: 1px;
  background: url(../src/assets/calendarDate.svg) no-repeat;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:focus {
  background: url(../src/assets/calendarDateBlue.svg) no-repeat;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  background: url(../src/assets/calendarDateBlue.svg) no-repeat;
}

select {
  width: 100%;
  height: 35px;
  color: #3f3d56;
  background: #efefef;
  border: 1px solid #efefef;
  border-radius: 4px;
  border: 0;
  /* margin: 1px; */
  padding: 0 2px 0 7px;
  cursor: pointer;
}

select:after {
  padding-left: 20px;
}

textarea {
  width: 100%;
  color: #3f3d56;
  background: #efefef;
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 5px 10px;
}

.button {
  width: 100%;
  height: 53px;
  border: 0;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  /* margin-top: 16px; */
  display: flex;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.2s;
  letter-spacing: 1px;
  align-items: center;
  justify-content: center;
  column-gap: 3px;
}

.btnSuccess {
  background: #006800 !important;
  /* #00991C */
}

.btnReturn {
  background: #dca500 !important;
  /* #8F7E00 */
}

.btnCancel {
  background: #ba0000 !important;
  /* #8F2200 */
}

.btnDefault {
  background: #0f4c82 !important;
}

.btnOther {
  background: #5f5f5f !important;
}

.button:hover {
  filter: brightness(85%);
}

.btnInactive {
  filter: brightness(60%) !important;
  cursor: default !important;
}

.inactive {
  cursor: default !important;
}

.btn-tab-inactive {
  color: #828282 !important;
}

.btn-tab-inactive:hover {
  color: #828282 !important;
  border-radius: none !important;
  border: none !important;
  cursor: default !important;
}

.btnSearchModal {
  width: 130px;
  height: 35px;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background: #efefef;

  /* border: 3px solid green; */
}

.load-spinner-button {
  animation: spin-animation 0.6s infinite;
  display: inline-block;
}

div.custom-ui {
  width: 40vw;
  height: 40vh;

  display: grid;
  grid-template-rows: 1fr 1fr;

  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 75px rgba(0, 0, 0, 0.3);
  color: #666;
}

div.custom-ui .content {
  width: 100%;

  display: flex;
  /* align-items: center; */

  flex-direction: column;
}

div.custom-ui .content p {
  margin-top: 10px;

  font-size: 20px;
}

div.custom-ui .content .header {
  width: 100%;

  display: flex;
  align-items: center;

  flex-direction: row;
}

div.custom-ui .content .header h1 {
  /* color: #dca500; */

  font-size: 35px;
}

div.custom-ui .alert-button-group-column {
  width: 100%;

  display: flex;
  flex-direction: column;

  justify-content: flex-end;
}

div.custom-ui .alert-button-group-column .alert-button-group-row {
  width: 100%;

  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

div.custom-ui
  .alert-button-group-column
  .alert-button-group-row
  .alert-button-block {
  width: 50%;

  display: flex;
  flex-direction: row;

  justify-content: flex-end;
}

div.custom-ui
  .alert-button-group-column
  .alert-button-group-row
  .alert-button-block
  button {
  height: 45px;
}

div.custom-ui
  .alert-button-group-column
  .alert-button-group-row
  .alert-button-block
  button
  + button {
  margin-left: 10px;
}

.div-responsive-table table.table-content tr td div.answer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

div.answer button {
  height: 30px;
  width: 30px;
}
div.answer button + button {
  margin-left: 5px;
}

.modal-search-title {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  column-gap: 3px;
  padding: 0px 0px 20px 0px;
}

.modal-search-content {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 20px;
  height: 90%;
}

.modal-search-input-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.inputSearchClient {
  width: 100%;
  padding: 0px 10px;
  margin-top: 5px;
}

.modal-search-input-button .input-label-block-colum {
  width: 100%;

  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.modal-search-input-button .input-label-block-colum label {
  padding-bottom: 5px;
}

.modal-search-input-button .input-label-block-colum input {
  padding: 0px 10px;
  text-transform: uppercase;
}

.modal-search-input-button .input-label-block-colum input:hover {
  border: 2px solid #0f4c82;
}

.modal-search-input-button .input-label-block-colum input:focus {
  border: 2px solid #0f4c82;
}

.modal-search-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.modal-search-list .searchListIten {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid gray;

  border-radius: 5px;

  padding: 10px;
}

.modal-search-list .searchListIten:hover {
  border: 2px solid #006800;
  cursor: pointer;
}

.modal-search-list .searchListIten + .searchListIten {
  margin-top: 10px;
}

.modal-search-list .searchListIten button {
  height: 35px;
  width: 35px;
}

.modal-search-list .searchListIten .searchItenData {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-search-list .searchListIten .searchItenData strong {
  margin-bottom: 5px;
}

.modal-search-list .searchListIten .searchItenData section {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.modal-search-list .searchListIten .searchItenData section p + p {
  margin-left: 30px;
}

.button-group-forms {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  column-gap: 10px;

  padding-top: 50px;
}

.button-group-forms div {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  column-gap: 10px;
}

.button-group-forms button {
  height: 45px;
  width: 150px;
}

/* Animation Loading */
@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(18deg);
  }
  10% {
    transform: rotate(36deg);
  }
  15% {
    transform: rotate(54deg);
  }
  20% {
    transform: rotate(72deg);
  }
  25% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(108deg);
  }
  35% {
    transform: rotate(126deg);
  }
  40% {
    transform: rotate(144deg);
  }
  45% {
    transform: rotate(162deg);
  }
  50% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(198deg);
  }
  60% {
    transform: rotate(216deg);
  }
  65% {
    transform: rotate(234deg);
  }
  70% {
    transform: rotate(252deg);
  }
  75% {
    transform: rotate(270deg);
  }
  80% {
    transform: rotate(288deg);
  }
  85% {
    transform: rotate(306deg);
  }
  90% {
    transform: rotate(324deg);
  }
  95% {
    transform: rotate(341deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
